.sideNav {
  width: 100%;
  position: relative;
  .side {
    position: fixed;
    list-style: none;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
    .item {
      background: whitesmoke;

      text-align: left;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      .item-name {
        margin-left: 10px;
      }
      &:hover {
        background: green;
      }
    }
  }
  .sliding {
    position: absolute;
    top: 0;
    right: -20px;
    width: 60px;
    height: 40px;
    transform: rotate(180deg);
    svg {
      width: 40px;
      height: 40px;
      background: transparent !important;

      &:hover {
        color: red;
      }
    }
  }
}

.node-in-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.node-in-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.node-in-exit {
  opacity: 1;
  transform: translateX(0%);
}
.node-in-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
.node-in-enter-active,
.node-in-exit-active {
  transition: opacity 500ms, transform 500ms;
}

.node-out-exit {
  opacity: 0;
  transform: translateX(-100%);
}
.node-out-exit-active {
  opacity: 1;
  transform: translateX(0%);
}
.node-out-enter {
  opacity: 1;
  transform: translateX(0%);
}
.node-out-enter-active {
  opacity: 0;
  transform: translateX(100%);
}
.node-out-enter-active,
.node-out-exit-active {
  transition: opacity 500ms, transform 500ms;
}

.col-body-enter {
  width: 90%;
}
.col-body-enter-active {
  width: 100%;
  transition: width 500ms;
}
