header {
  width: 100%;
  height: 120px;
  background: whitesmoke;

  .header {
    position: fixed;
    width: 100%;
    margin: auto;
    background: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    .logo {
      width: 100px;
      img {
        width: 170px;
        height: 86px;
      }
    }
    .barMenu {
      height: 100px;
      position: relative;
      width: 60px;

      svg {
        font-size: 1.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .dropdown {
    position: fixed;
    top: 75px;
    right: -130px;
    width: 300px;
    transform: translateX(-45%);
    background-color: gray;
    border: 1ps solid red;
    border-radius: 1%;
    padding: 0.8rem;
    overflow: hidden;
    transition: height 500ms ease;
    z-index: 999 !important;
  }

  a {
    display: block;
    width: 100%;
    color: white;
    span {
      margin-left: 10px;
    }
    &:hover {
      svg {
        color: red;
      }
      text-decoration: none;
      color: white;
    }
  }
  .menu-item {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
    transition: background 200ms;
    padding: 0.5rem;
  }

  .menu-item:hover {
    background-color: #525357;
  }

  .icon-right {
    margin: auto;
  }
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: 500ms ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: 500ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}
